.try-it{
    color:#ff52c1;
    border-color: #ff52c1;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.get-started, .try-it:hover{
    color: #fff !important;;
    background-color:#ff52c1;
    border-color: #ff52c1;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
